<section fxLayout='column' class="main-section">
  <md-toolbar fxFlex="60px">
    <md-button-toggle-group *ngIf="displayCategories" style="font-size: medium" [(ngModel)]="selectedCategory" (change)="categoryChanged()">
      <md-button-toggle *ngFor="let cat of categories" [value]="cat.value">{{cat.name}}</md-button-toggle>
    </md-button-toggle-group>
    <md-button-toggle-group *ngIf="!displayCategories" style="font-size: medium">
      <md-button-toggle checked="true" (click)="displayCategories = true">{{selectedCategoryName}}</md-button-toggle>
    </md-button-toggle-group>
    <!--span><button md-icon-button title="Categories" (click)="displayCategories()"><md-icon>format_align_justify</md-icon></button></span-->

    <span style="width: 100%; padding-right: 15px; padding-left: 15px">
    <!--md-input-- style="width: 100%; font-size: medium" dividerColor="primary" floatingPlaceholder="false" placeholder="Keywords (space or comma separators)" [(ngModel)]="keywordsInput" (keyup)="search()"></md-input-->
    <input #idKeywordsSearch style="width: 100%; font-size: medium" dividerColor="primary" placeholder="Keywords (space or comma separators)" [(ngModel)]="keywordsInput" (keyup)="search()">
    </span>

    <button md-icon-button [md-menu-trigger-for]="toolbarMenu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <div fxFlex class="notes-content">
    <app-note #idCreateNote [mode]="'create'" [display]="false"></app-note>
    <app-note *ngFor="let note of notes | async | filterNotes:keywordsFilter" [note]="note" [showExtra]="showNoteInfo"></app-note>
  </div>
</section>

<md-menu x-position="before" #toolbarMenu="mdMenu">
  <button md-menu-item (click)="showNoteInfo=true;" *ngIf="!showNoteInfo"><md-icon>drag_handle</md-icon>show note info</button>
  <button md-menu-item (click)="showNoteInfo=false;" *ngIf="showNoteInfo"><md-icon>short_text</md-icon>hide note info</button>
</md-menu>

<span class="addButton">
  <button md-mini-fab style="background-color: #00ad00" title="New note" (click)="showNewNote()">
    <md-icon>add</md-icon>
  </button>
</span>
