<section fxLayout='column' class="main-section">
  <md-toolbar fxFlex="60px">

    <button md-button [mdMenuTriggerFor]="caterogiesMenu">{{selectedCategoryName}}</button>
    <md-menu #caterogiesMenu="mdMenu">
      <button md-menu-item *ngFor="let cat of categories" (click)="selectedCategory=cat.value; categoryChanged();">{{ cat.name }}</button>
    </md-menu>

    <md-input-container class="autocomplete">
      <input type="text" mdInput [mdAutocomplete]="autoCompleteList" [formControl]="suggestControl" title="Keywords (space or comma separators)">
    </md-input-container>
    <md-autocomplete #autoCompleteList="mdAutocomplete">
      <md-option *ngFor="let option of suggestOptions | async" [value]="option.expression">
        {{ option.display }}
      </md-option>
    </md-autocomplete>

    <button md-icon-button [md-menu-trigger-for]="toolbarMenu">
      <md-icon>more_vert</md-icon>
    </button>

  </md-toolbar>

  <div fxFlex class="notes-content">
    <app-note #idCreateNote [mode]="'create'" [display]="false"></app-note>
    <app-note *ngFor="let note of notes | async | filterNotes:keywordsFilter" [note]="note" [showExtra]="showNoteInfo" [truncateNote]="truncateNote"></app-note>
  </div>
</section>

<md-menu x-position="before" #toolbarMenu="mdMenu">
  <button md-menu-item (click)="showNoteInfo=!showNoteInfo;"><md-icon [style.color]="showNoteInfo ? '' : 'transparent'">check</md-icon>Show footer info</button>
  <button md-menu-item (click)="truncateNote=!truncateNote;"><md-icon [style.color]="truncateNote ? '' : 'transparent'">check</md-icon>Truncate note</button>
</md-menu>

<span class="addButton">
  <button md-mini-fab style="background-color: #00ad00" title="New note" (click)="showNewNote()">
    <md-icon>add</md-icon>
  </button>
</span>
