<md-card *ngIf="display && mode=='display'" (dblclick)="editNote()">
  <md-card-title *ngIf="note.title">
    <span>{{note.title}}</span>
  </md-card-title>
  <md-card-content>
    <!-- todo: create moreLessNote component -->
    <!--div *ngIf="truncateNote">
      <div #noteContent style="white-space: pre-wrap; max-height:200px; overflow:hidden;" [innerHTML]="note.text | formatText"></div>
      <div [style.display]="noteContent.clientHeight==200 ? '' : 'none'" class="moreContent" (click)="noteContent.style.maxHeight = ''">...</div>
      <div [style.display]="noteContent.clientHeight>200 ? '' : 'none'" class="lessContent" (click)="noteContent.style.maxHeight = '200px';">&#9473;</div>
    </div>
    <div *ngIf="!truncateNote" #noteContent style="white-space: pre-wrap; overflow:hidden;" [innerHTML]="note.text | formatText"></div-->

    <!--div #noteContent style="white-space: pre-wrap; max-height:200px; overflow:hidden;" [innerHTML]="note.text | formatText"></div-->
    <html-outlet [html]="note.text | formatText"></html-outlet>
  </md-card-content>
  <md-card-subtitle *ngIf="showExtra">
    <span>keywords: {{note.keywords}}</span>
    <!--span> / id: {{note.$key}}</span-->
    <span> / date: {{formatDate(note.date)}}</span>
    <button md-icon-button (click)="editNote()"><md-icon>edit</md-icon></button>
    <button md-icon-button (click)="removeNote()"><md-icon>delete</md-icon></button>
    <!--button md-icon-button (click)="moveUp()"><md-icon>keyboard_arrow_up</md-icon></button>
    <button md-icon-button (click)="moveDown()"><md-icon>keyboard_arrow_down</md-icon></button-->
    <button md-icon-button (click)="moveTop()"><md-icon>publish</md-icon></button>
  </md-card-subtitle>
</md-card>

<md-card *ngIf="display && (mode=='edit' || mode=='create')">
  <md-card-title>
    <md-input-container>
      <input mdInput style="width: 98%" placeholder="Title" [(ngModel)]="note.title">
    </md-input-container>
  </md-card-title>
  <md-card-content>
    <textarea style="width: 98%; resize: vertical" rows="{{nbrLinesToEdit()}}" [(ngModel)]="note.text"></textarea>
  </md-card-content>
  <md-card-subtitle>
    <md-input-container>
      <input mdInput placeholder="Keywords" [(ngModel)]="keywordsInput">
    </md-input-container>
    <span> / id: {{note.$key}}</span>
    <span> / date: {{formatDate(note.date)}}</span>
    <div style="width: 98%; text-align:right">
      <button *ngIf="mode=='edit'" md-button (click)="updateNote()">Update</button>
      <button *ngIf="mode=='create'" md-button (click)="createNote()">Create</button>
      <button md-button (click)="cancel()">Cancel</button>
    </div>
  </md-card-subtitle>
</md-card>





